body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.container
  width: 95%
  margin: 0 auto
  display: flex
  flex-direction: column

.row
  display: flex
  margin-bottom: 20px

.game-board
  flex: 2 2 400px
  background-color: #9F8170
  border: solid black 1px
  border-radius: 8px
  margin-right: 20px

.game-info
  flex: 1 1 200px
  background-color: bisque
  border: solid black 1px
  border-radius: 8px

.player-info
  width: 100%
  background-color: darksalmon
  border: solid black 1px
  border-radius: 8px
  height: 250px

.main
  height: 500px

@import board