doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/css/main.css')
    link(rel='shortcut icon', type='image/x-icon' href='/public/favicon.ico')
    link(rel='icon', type='image/x-icon' href='/public/favicon.ico')
  body
    block content
    script(src=`/public/js/${entryPoint}`)
